[package]
name = "whois-rust"
version = "1.2.3"
authors = ["Magic Len <len@magiclen.org>"]
edition = "2018"
repository = "https://github.com/magiclen/whois-rust"
homepage = "https://magiclen.org/whois-rust"
keywords = ["whois"]
categories = ["web-programming::websocket"]
description = "This is a WHOIS client library for Rust, inspired by https://github.com/hjr265/node-whois"
readme = "README.md"
license = "MIT"
include = ["src/**/*", "Cargo.toml", "README.md", "LICENSE"]

[badges.travis-ci]
repository = "magiclen/whois-rust"
branch = "master"

[dependencies]
validators = "0.22"
serde_json = "1"
once_cell = "1"
regex = "1"

[dependencies.validators-derive]
version = "0.22"
default-features = false
features = ["host"]